@media screen and (max-width: 1000px) {
	body {
		grid-template-rows: 58px auto 100%;
		grid-template-columns: 100%;
		grid-template-areas:
			'header header'
			'sidebar sidebar'
			'content content';
	}

	h2 {
		font-size: 32px;
	}

	/* header */
	.header {
		width: 100vw;
		justify-content: space-between;
	}
	.header .search-input {
		width: 80%;
	}

	.input {
		padding: 8px 16px;
	}

	.input-icon {
		position: absolute;
		top: 8px;
		right: 50%;
		margin-right: 31px;
	}

	/* sidebar */
	.sidebar {
		padding-right: 75px;
		display: flex;
		overflow-x: scroll;
		width: 100%;
		height: max-content;
		gap: 24px;
		margin-bottom: 32px;
	}

	.sidebar::-webkit-scrollbar {
		display: none;
	}

	.sidebar nav {
		flex-direction: row;
	}

	.sidebar__section:nth-child(1) {
		margin-bottom: 0;
	}

	.sidebar .title-section {
		margin-left: 6px;
	}

	/* content */
	.content {
		padding: 0;
	}

	.content__header {
		flex-direction: column;
		align-items: center;
		height: auto;
		gap: 32px;
		text-align: center;
		padding: 0 16px;
	}

	.content__header .title-section {
		text-align: center;
		width: 100%;
		justify-content: center;
	}

	.content__treks {
		margin-right: 0;
		gap: 0;
	}
	.content__treks .treck {
		padding: 16px 28px;
	}

	.content__treks .treck.active {
		border-radius: 0;
	}

	.descr {
		align-items: center;
		gap: 12px;
	}

	.author__value {
		margin: 0;
		width: 70%;
	}

	.author {
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}

	/* section-player */
	.section-player {
		padding-top: 24px;
		flex-direction: column;
		align-items: center;
	}

	.section-player__item-1 {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 12px;
	}

	/* .section-player .section-player__item-2, */
	/* .section-player__item-1  */
	.player__options-dop {
		display: none;
	}

	.player__trake {
		width: 100%;
		/* margin: 0 auto; */
		gap: 12px;
	}
	.player__trake .trake-bg {
		height: 50px;
		min-width: 50px;
		border-radius: 6px;
	}
}
